import requests
import os
from datetime import datetime
"""""
Site Status kodlarını kontrol et
Eğer Status kodları 200'den farklıysa dosyaya yazdır.
Dosyada 5 hatadan fazla varsa uyarı mesajı çıkar.
Eğer işlem başarılı olursa log dosyasını temizle.

dosya satır sayısı öğrenme..
with open('test.txt') as f:
    text = f.readlines()
    size = len(text)

"""""

#Landing Page Status Check..

JG = requests.head("https://www.joygame.com/")
# trmstar = requests.head("https://www.trmstar.com")
# WTLand = requests.head("https://www.joygame.com/land/wolfteam")
# GLand = requests.head("https://www.joygame.com/land/goley")
# MS = requests.head("https://www.joygame.com/land/mstar")
# HO = requests.head("https://www.joygame.com/land/hounds")



if((JG.status_code)!=200):
    dosya = open(r"C:\Users\Taygun\Desktop\Tygndnme\dosya2.txt", "a+")
    dosya.write(str(datetime.today().replace(microsecond=0)))
    dosya.write("\tJoygame Status Code {}\n".format(JG.status_code))
    dosya.close()
    print(JG.status_code)
else((JG.status_code)==200):
        with open(r"C:\Users\Taygun\Desktop\Tygndnme\dosya2.txt") as f:
            text = f.readlines()
            size = len(text)
            # if size < 5:
            #     print("İçerik 5'ten fazla!")
